.autokarten{
    height: fit-content;
}

.autokarten h2{
    display:flex;
    justify-content: center;
    margin:8px 0;
    padding:12px 0;
    border-bottom: 1px solid #ff4040;
    color:#ff4040;
}

.karten {
    padding:20px 100px;
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}