.home-img-container{
    position:fixed;
    height:80%;
    width:80%;
    left:10%;
    right:10%;
    top:10%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 5;
}
.home-img-container > .MuiSvgIcon-root{
    position: absolute;
    right:1px;
    top:1px;
    cursor: pointer;
    fill: #ff4040;
}
@media only screen and (max-width: 1200px) {
    .home-img-container{
        height: 80%;
        width:100%;
        left:0%;
        right:0%;
    }
}
@media only screen and (max-width: 900px) {
    .home-img-container{
        height: 55%;
        width:100%;
        left:0%;
        right:0%;
        top:22.5%;
    }
}
@media only screen and (max-width: 700px) {
    .home-img-container{
        height: 35%;
        width:100%;
        background-size: cover;
        left:0%;
        right:0%;
        top:30%;
    }
}
@media only screen and (max-width: 700px) and (orientation:landscape) {
    .home-img-container{
        height: 80%;
        width:80%;
        background-size: cover;
        left:10%;
        right:10%;
        top:10%;
    }
}