.mitarbeiter{
    margin: 50px;
    border: 3px solid #ff4040;
}
.mitarbeiter-container{
    background-color: #ff4040 ;
    color:white;
}
.top-mitarbeiter{
    padding: 30px 0 ;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid white;
    text-align: center;
}
.bottom-mitarbeiter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height:fit-content;
}

.bottom-mitarbeiter p {
    width:500px;
    padding:20px;
}

.geschäftszeiten{
    display: flex;
    flex-direction: row;
    height:fit-content;
    justify-content: space-around;
    padding: 40px 20px;
    color: #ff4040;
}
.col-1 p, .col-2{
    color: #3a3a3a;
}
.col-2{
    font-weight: bold;
    display: flex;
    flex-direction: row;
    gap: 20px;
}
@media only screen and (max-width: 750px){
    .geschäftszeiten{
        flex-direction: column;
    }
    .bottom-mitarbeiter{
        flex-direction: column;
    }
    .bottom-mitarbeiter p {
        width:fit-content;
    }
}