.willkommen{
    height:600px;
    background-image: url('/public/welcome-img.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    position:relative;
    z-index: 0;
}
.willkommen::after{
    content: '';
    position: absolute;
    width: 100%; 
    height:100%;
    top:0; 
    left:0;
    background:rgba(0,0,0,0.4);
    opacity: 1;
    z-index: 1;
}
.willkommen h1 {
    margin:0;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    position:absolute;
    top:150px;
    left:400px;
    font-size: 50px;
    line-height: 1.4em;
    text-shadow: 2px 2px 4px #000000;
    z-index: 2;
}
.btn {
    position: absolute;
    top: 450px;
    left: 60vw;
    height:60px;
    width:240px;
    font-size: 25px;
    border-radius: 5px;
    z-index: 3;
    background-color: #ff4040;
    color: white;
    border: none;
    cursor:pointer;
    transition: 0.3s;
}
.btn:hover{
    background-color: #b62b2b;
}

@media only screen and (max-width: 750px){
    .btn{
        left:35vw;
        height: calc(60px / 1.1);
        width: calc(240px / 1.1);
        font-size: 20px;
    }
    .willkommen h1{
        font-size: 35px;
        left: 150px;
    }
}