.galerie > h1 {
    text-align: center;
    padding-bottom: 21.4px;
    margin-bottom: 0;
    border-bottom: 2px solid #ff4040bb;
}
.galerie-main{
    margin:20px;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.galerie-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    height:500px;
    margin: 20px 200px;
}
.galerie-container > div{
    transition: 0.3s;
    cursor: pointer;
}
.galerie-container > div:hover {
    opacity: 0.8;
}
    
.bild-1 {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url('/public/galerie/bild-1.jpg');
    background-size: cover;


 }
.bild-2 {
    grid-area: 2 / 1 / 3 / 2; 
    background-image: url('/public/galerie/bild-2.jpg');
    background-size: cover;
}
.bild-3 {
    grid-area: 1 / 2 / 2 / 3; 
    background-image: url('/public/galerie/bild-3.jpg');
    background-size: cover;
}
.bild-4 { 
    grid-area: 2 / 2 / 3 / 3; 
    background-image: url('/public/galerie/bild-4.jpg');
    background-size: cover;
}
.bild-5 { 
    grid-area: 1 / 3 / 3 / 4; 
    background-image: url('/public/galerie/bild-5.jpg');
    background-size: cover;
}
.big-img-container{
    position:fixed;
    height:80%;
    width:80%;
    left:10%;
    right:10%;
    top:10%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 5;
}
.big-img-container > .MuiSvgIcon-root:first-child{
    position: absolute;
    right:1px;
    top:1px;
    cursor: pointer;
    fill: #ff4040;
}
.big-img-container > .MuiSvgIcon-root:nth-child(2){
    position:absolute;
    left:1px;
    top:50%;
    fill: #ff4040;
    cursor: pointer;
}
.big-img-container > .MuiSvgIcon-root:nth-child(3){
    position:absolute;
    right:1px;
    top:50%;
    fill: #ff4040;
    cursor: pointer;
}

@media only screen and (max-width: 1300px){
    .galerie-container{
        margin:20px 100px;
    }
}
@media only screen and (max-width: 1100px){
    .galerie-container{
        margin:70px 20px;
        height: 400px
    }
}
@media only screen and ( max-width: 750px){
    .galerie-container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        height:1800px;
    }
    .bild-3{ grid-area: 3 / 1 / 4 / 2; }
    .bild-4{ grid-area: 4 / 1 / 5 / 2; }
    .bild-5{ grid-area: 5 / 1 / 7 / 2; }
    @media only screen and ( max-width: 450px){
        .galerie-container{
            height:1300px;
        }
    }
}